.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}

.border {
    padding: 3vh;
}

.bg-gradient {
    background-image: linear-gradient(to bottom right, #538453, rgb(0, 0, 0));
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0px 0 -25px 0;
}

.all {
    padding-top: 20%;
}

@media (max-width: 700px) {
    .border {
        width: 25px;
        height: 25px;
        padding: 1.5vh;
    }
    
}