body {
    background-color: #A0C49D;
}

.jumbotron {
    background-color: #F7FFE5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #333333;
}

/* For the fade animation */

body {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
}

body.fade {
    opacity: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.social-icons li a i {
    color: #404040;
    transition: color 0.3s, transform 0.3s;
}

.social-icons li a i:hover {
    color: #0f0f0f;
    transform: translateY(-5px);
}

.jumbotron h1 p {
    font-family: 'Montserrat';
}

/* Increase font sizes for smaller screens */
@media (max-width: 767px) {
    .jumbotron {
        padding: 20px 60px 20px 60px !important;
    }
    body {
        font-size: 18px;
    }

    .jumbotron h1 {
        font-size: 40px !important;
    }

    .jumbotron p .btn-lg {
        font-size: 15px !important;
    }

    .social-icons li a i {
        font-size: 40px;
    }
}

/* Adjust padding and margins for smaller screens */
@media (max-width: 380px) {
    .jumbotron {
        padding: 20px 60px 20px 60px !important;
    }

    .jumbotron h1 {
        margin-bottom: 10px;
    }

    .jumbotron p  {
        margin-bottom: 10px;
    }

    .social-icons li {
        margin-bottom: 10px;
    }
    body {
        font-size: 15px;
    }

    .jumbotron h1 {
        font-size: 30px !important;
    }

    .jumbotron p {
        font-size: 10px !important;
    }
    .btn-lg {
        font-size: 10px !important;
        padding: 5px 10px !important;
        margin: 5px !important;
    }

    .social-icons li a i {
        font-size: 30px;
    }
}



/* Adjust padding and margins for smallerer screens */
@media (max-width: 330px) {
    .jumbotron {
        padding: 20px 10px 20px 10px !important;
    }

    .jumbotron h1 {
        margin-bottom: 10px;
    }

    .jumbotron p {
        margin-bottom: 20px;
    }

    .social-icons li {
        margin-bottom: 10px;
    }
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    z-index: 2;
}

.profile-image-border {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    
}

.profile-image-border::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-radius: inherit;
    animation: spin 2s linear infinite;
}

.profile-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.btn-pill {
    border-radius: 50px;
    /* Makes the button pill-shaped */
    color:#0f0f0f;
    background-color: #96b893;
    margin: 10px;
}

.portfolio-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.portfolio-item img:hover {
    transform: scale(1.05);
}

.portfolio-item .item-info {
    flex: 1;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.portfolio-item .item-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.portfolio-item .item-info p {
    font-size: 16px;
    color: #777777;
    margin-bottom: 20px;
}

.portfolio-item .item-info .btn {
    border-radius: 50px;
    background-color: #96b893;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.portfolio-item .item-info .btn:hover {
    background-color: #6c8e6b;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
.image-centre {
    align-items: center;
    width: 100%;
    justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
}
.space {
    height: 1px;
}