body {
    background-color: #A0C49D;
}

.jumbotron {
    background-color: #F7FFE5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #333333;
}

/* For the fade animation */

body {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
}

body.fade {
    opacity: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.social-icons li a i {
    color: #404040;
    transition: color 0.3s, transform 0.3s;
}

.social-icons li a i:hover {
    color: #0f0f0f;
    transform: translateY(-5px);
}

.jumbotron h1 p {
    font-family: 'Montserrat';
}

/* Increase font sizes for smaller screens */
@media (max-width: 767px) {
    .jumbotron {
        padding: 20px 60px 20px 60px !important;
    }
    body {
        font-size: 18px;
    }

    .jumbotron h1 {
        font-size: 40px !important;
    }

    .jumbotron p {
        font-size: 15px !important;
    }

    .social-icons li a i {
        font-size: 40px;
    }
}

/* Adjust padding and margins for smaller screens */
@media (max-width: 380px) {
    .jumbotron {
        padding: 20px 60px 20px 60px !important;
    }

    .jumbotron h1 {
        margin-bottom: 10px;
    }

    .jumbotron p {
        margin-bottom: 20px;
    }

    .social-icons li {
        margin-bottom: 10px;
    }
}

/* Adjust padding and margins for smallerer screens */
@media (max-width: 280px) {
    .jumbotron {
        padding: 10px 40px 10px 40px !important;
    }

    .jumbotron h1 {
        margin-bottom: 10px;
    }

    .jumbotron p {
        margin-bottom: 20px;
    }

    .social-icons li {
        margin-bottom: 10px;
    }
}

.profile-image {
    width: 150px;
    /* Adjust as needed */
    height: 150px;
    /* Adjust as needed */
    border-radius: 50%;
    /* Makes the image circular */
    border: 5px solid #96b893;
    /* Adjust border color as needed */
    object-fit: cover;
    /* Ensures the image covers the whole area */
}

.btn-pill {
    border-radius: 50px;
    /* Makes the button pill-shaped */
    color:#0f0f0f;
    background-color: #96b893;
}