.loader {


    margin: auto;


    border: 20px solid #EAF0F6;


    border-radius: 50%;


    border-top: 20px solid #2278FB;


    width: 200px;


    height: 200px;


    animation: spinner 4s linear infinite;

    
}


        #loading {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: .9;
            background-color: #fff;
            z-index: 99;
        }

        #loading-image {
            z-index: 100;
        }


@keyframes spinner {


    0% {
        transform: rotate(0deg);
    }


    100% {
        transform: rotate(360deg);
    }


}

.parent {
    text-align: center;
    position: absolute;
    top: 65%;
    transform: translate(0, -50%);
    font-size: 40px;
    font-weight: bolder;
}


body {
    background-color: white;
    margin: 0px;
}

html {
    min-height: 100%;
    position: relative;
}

.zero {
    padding-top: 130px;
    width: 100%;
    transition: background-color .3s;
}

.banner {
    padding-top: 124px;
    background-color: yellow;
    justify-content: center;
    position: relative;
    align-items: center;
    display: flex;
}

.banner h1 {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    padding: 0px;
    margin: 0px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    /* Center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lead {
    padding-bottom: 100px;
    font-size: 1.25rem;
    font-weight: 300;
    position: relative;
    text-align: center;
    text-transform: capitalize;
}

.textcool {
    background-color: transparent;
    padding-top: 150px;
    font-size: 2rem;
}

.navbar .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}


.navbar ul li {
    padding: 20px;
    font-weight: 1000;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    color: black;
    display: inline;
}

.navbar ul {
    padding-inline-start: 0px;
    align-content: center;
}

.three {
    background-color: transparent;
}


.light-mode-button {
    background: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 100px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
}

.light-mode-button:focus {
    outline: none;
    /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

.light-mode-button span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

body {
    background-color: #f6f6f6;
    transition: background-color .3s;
}

h1 {
    font-size: 11.7px;
    text-align: right;
}

body[light-mode=dark] {
    background-color: #141516 !important;
    color: #ced4e2 !important;
}

h2[light-mode=dark] {
    background-color: #141516 !important;
    color: #ced4e2 !important;
}


body[light-mode="dark"] .light-mode-button span:nth-child(1) {
    background-color: #ced4e2;
    color: #141516;
}

body[light-mode=dark] .light-mode-button span:nth-child(2) {
    left: 65px;
    background-color: #141516;
}

.navbar .logo {
    display: flex;
    align-items: center;
    position: flex;
    padding: 12px 30px;
    display: block;
    text-align: center;
    font-size: 40px;
    color: #86B6D8;
    font-family: Haettenschweiler;
}

.imageonzero {
    align-items: center;
    display: block;
    width: 800px;
    height: 600px;
    object-fit: cover;
    padding-top: 70px;
    padding-left: 60%;
    margin: 0px;

}

.imageonzero {
    filter: drop-shadow(0 0 10px #000)
}

@media (max-width: 1500px) {
    .imageonzero {
        padding-left: 50%;
        width: 500px;
        height: 400px;
    }

    .banner h1 {
        font-size: 20px;
    }
}

@media (max-width: 1050px) {
    .imageonzero {
        padding-left: 57%;
        width: 260px;
        height: 190px;
    }

    .banner h1 {
        font-size: 15px;
    }
}

.navbar img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.copyright {
    margin: 0px;
    padding: 20px;
    bottom: 10px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: darkgrey;
}

.copyright a {
    color: #dee2e6;
    text-decoration: none;
}

.copyright a:hover {
    color: #86B6D8;
}

.footer {
    background: rgb(49, 49, 49);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header {
    background: #2278FB;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2278FB;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);
    border-radius: 20px;
    color: whitesmoke;
}

.title {
    font-family: "Poppins", sans-serif;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    margin: 10px 0;
}

.underline {
    position: relative;
    text-align: center;
    text-transform: capitalize;
    color: whitesmoke!important;

}

.underline::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 4px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(transparent 0%, whitesmoke);
}

.one {
    width: 100%;
    background-color: transparent;
}

.one svg {
    display: block;
}

.three svg {
    display: block;
}

.two {
    background-color: #86B6D8;
    height: 1250px;
    display: block;
    width: 100%;
    padding-top: 10px;
}

.four {
    background-color: transparent;
    height: 800px;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.title::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(transparent 0%, grey);
}

.team-row {
    padding: 40px 0;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.member {
    flex: 1 1 250px;
    max-width: 300px;
    padding: 20px 10px;
    margin: 20px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 15px;
    background-color: #5E9DE6;
    height: 300px;
}

.member:hover {
    box-shadow: 0 0 20 px rbga(0, 0, 0, 0, 1);
    transform: translateY(-20px);
}

.team-roww {
    padding: 200px 0;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.memberr {
    flex: 1 1 250px;
    max-width: 500px;
    padding: 20px 10px;
    margin: 20px;
    text-align: center;
    transition: all 0.3s;
    border-radius: 15px;
    background-color: #5E9DE6;
    height: 300px;

}

.batton:hover {
    box-shadow: 0 0 20 px rbga(0, 0, 0, 0, 1);
    transform: translateY(-10px);
}

.flex {
    padding-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}


@media (max-width: 700px) {
    .navbar ul li {
        font-size: 12px;
        padding: 15px
    }

    .zero {
        padding-top: 100px;
    }

    .navbar img {
        width: 75px;
        height: 75px;
    }

    .navbar .logo {
        padding: 0;
    }

    .imageonzero {
        width: 150px;
        height: 100px;
        padding-left: 60%;
    }

    .banner h1 {
        font-size: 10px;
    }

    .banner {
        padding-top: 80px;
    }
}

@media (max-width: 480px) {
    .banner h1 {
        font-size: 7px;
    }
}

@media (max-width: 370px) {
    .navbar ul li {
        font-size: 10px;
        padding: 10px
    }

    .zero {
        padding-top: 50px;
    }

    .navbar img {
        width: 50px;
        height: 50px;
    }

    .imageonzero {
        width: 140px;
        height: 100px;
        padding-left: 59%;
    }

    .banner {
        padding-top: 68px;
    }
}

@media (max-width: 330px) {
    .navbar ul li {
        font-size: 10px;
        padding: 10px
    }

    .zero {
        padding-top: 50px;
    }

    .navbar img {
        width: 50px;
        height: 50px;
    }

    .imageonzero {
        width: 130px;
        height: 100px;
        padding-left: 59%;
    }
}

@media (max-width: 290px) {
    .navbar ul li {
        font-size: 10px;
        padding: 10px
    }

    .zero {
        padding-top: 50px;
    }

    .navbar img {
        width: 50px;
        height: 50px;
    }

    .imageonzero {
        width: 110px;
        height: 90px;
    }

    .banner h1 {
        font-size: 5px;
    }
}

.batton {
    font-size: 30px;
    font-weight: bold;
    background-color: green;
    flex: 1 1 250px;
    max-width: 200px;
    padding: 20px 10px;
    margin: 20px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 15px;
}

.pfp {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    border: 4px solid black;
    margin-top: 13px;
}

.memberr ul {
    list-style-type: none;
    margin: 15px 0;
    font-size: 24px;
    color: black;
}

.memberr li:before {
    content: "•";
    margin-right: 10px;
}

.memberr p {
    font-size: 15px;
    color: black;
    line-height: 1.6;
}

.memberr h1 {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
}

.member h2 {
    margin: 15px 0;
    font-size: 24px;
    color: black;
}

.member p {
    font-size: 15px;
    color: black;
    line-height: 1.6;
}

.middle {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}